<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d333d7e4-3c24-4d28-b53b-7c2de852a3f6" Alias="home" Level="1">
  <Info>
    <Name>Home</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate>Home</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="3851b274-ffc1-4191-aede-5340ec07ea3e">Home</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="c961809c-d60a-4bac-a647-070ff43313f7" SortOrder="0">login</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>